exclude README.md
exclude .pre-commit-config.yaml
exclude .gitignore
exclude environment.yml
recursive-include images *
recursive-exclude .github *
recursive-exclude tests *
prune src/tabular_ml/__pycache__
prune src/tabular_ml/ml_models/__pycache__
