exclude README.md
exclude .pre-commit-config.yaml
exclude .gitignore
recursive-exclude tests *
recursive-exclude src/tabular_ml/__pycache__/ *
recursive-exclude src/tabular_ml/ml_models/__pycache__/ *